@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

* {
  margin: 0;
  padding: 0;
  /* background-color: #F3F5FC; */
  font-family: "Poor Story", cursive;
}
.--bs-body-bg{
  background-color: #F3F5FC;
}
.containerEncryp{
  margin-left: 13%;
  margin-right: 6%;
}

.swal-title{
  color: #0A3871;
}

.swal-text{
  color: black;
}

.swal-button{
  background-color: #0A3871;
  color: #F3F5FC;
}

.areatxt1{
  height: 100%;
  width: 100%;
}

.buttons-container{
  justify-content: space-between;
  padding: 1.7%;
  text-align: center;
}

.areatxt2{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-left: 5%;
}

#result {
  width: 100%;
  background-color: white;
  background-image: url('../images/muneco1.png');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position-x: center;
  background-position-y: 3%;
}

#result::selection {
  background-color: transparent;
}

.white{
  background-color: white;
}

.buttons{
  padding: 3%;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  font-size: auto;
}

#encrypt-button {
  margin-left: 0;
}
#encrypt-button {
  background-color: #0A3871;
  color: #F3F5FC;
  border: 1px solid #F3F5FC;
}

#encrypt-button:hover{
  background-color: #F3F5FC;
  color: #0A3871;
  border: 1px solid #0A3871;
}

#decrypt-button {
  margin-right: 2%;
}
#decrypt-button {
  background-color: #F3F5FC;
  color: #0A3871;
  border: 1px solid #0A3871;
}
#decrypt-button:hover{
  background-color: #0A3871;
  color: #F3F5FC;
  border: 1px solid #F3F5FC;
}

#copy-button {
  background-color: whitesmoke;
  color: #0A3871;
  border: 1px solid #0A3871;
}

#copy-button:hover{
  background-color: #0A3871;
  color: #F3F5FC;
  border: 1px solid #F3F5FC;
}

#encrypt-button, #decrypt-button, #copy-button{
  padding: 3%;
  font-size: 95%;
}
.texto{
  width: 100%;
  height: 70%;
  background: #F3F5FC;
  margin-top: 1%;
  border: none;
  outline: none;
  font-size: 200%;
  color: #0A3871;
  resize: none;
  padding: 1.5%;
}


.containerDict{
    margin-left: 13%;
    margin-top: 3%;
    margin-right: 6%;
    height: 100%;
}
.containerDict h2{
  text-align: center;
  color: #0A3871;
  width: 100%;
}

.containerDict p{
  margin-top: 0.5%;
  width: 100%;
}


#add-letter {
  margin-left: 0;
}
#add-letter{
  background-color: #0A3871;
  color: #F3F5FC;
  border: 1px solid #F3F5FC;
}
#add-letter:hover{
  background-color: #F3F5FC;
  color: #0A3871;
  border: 1px solid #0A3871;
}

#search-letter {
  margin-right: 0%;
}
#search-letter {
  background-color: #F3F5FC;
  color: #0A3871;
  border: 1px solid #0A3871;
}
#search-letter:hover{
  background-color: #0A3871;
  color: #F3F5FC;
  border: 1px solid #F3F5FC;
}

footer{
  width: 100%;
  margin-top: 2%;
}

footer p{
  font-size: 120%;
  text-align: center;
  padding: 1.7%;
}
footer a{
  font-weight: 900;
  text-decoration: none;
  color: #0A3871;
}

@media (max-width: 991.98px) {
  #result {
    background-image: none !important;
    background-color: white;
  }
  .areatxt2{
    margin-left: 0%;
  }
  #encrypt-button, #decrypt-button, #copy-button{
    width: 40%;
  }
}

@media (max-width: 402px) {
  
}

@media (max-width: 397px) {
  #add-letter, #search-letter {
    width: 45%;
  }
}

@media (max-width: 361px) {
  #encrypt-button, #decrypt-button, #copy-button, #add-letter, #search-letters{
    width: 48%;
  }
}

@media (max-width: 219px) {
  #encrypt-button, #decrypt-button, #copy-button, #add-letter, #search-letters{
    font-size: 80%;
  }
}